01_BASE_PROJECT/Temp/Objects/Config1/X20CP1382/.mappView/data/wwwRoot/BRVisu/widgets/brease/XYJoystick/meta/XYJoystick_EventsActions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:s1="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" xmlns:var="http://www.br-automation.com/iat2015/varTypes/v2" elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.XYJoystick.Action">
		<xs:complexContent>
			<xs:extension base="s1:Target.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.XYJoystick.Action.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.ReadAction">
		<xs:complexContent>
			<xs:extension base="s1:ReadTarget.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.XYJoystick.ReadAction.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.ReadAction.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.LockXAxis">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.LockYAxis">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.Focus">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.GetXValue">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.ReadAction.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.GetYValue">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.ReadAction.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.SetEnable">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.SetImage">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="image" type="var:ImagePath" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.SetStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.SetVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Action.ShowTooltip">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYJoystick.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYJoystick.Event">
		<xs:complexContent>
			<xs:extension base="s1:Source.BaseWidget">
				<xs:attribute name="event" type="s1:widgets.brease.XYJoystick.Events" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="widgets.brease.XYJoystick.Events">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Click"></xs:enumeration>
			<xs:enumeration value="DisabledClick"></xs:enumeration>
			<xs:enumeration value="EnableChanged"></xs:enumeration>
			<xs:enumeration value="FocusIn"></xs:enumeration>
			<xs:enumeration value="FocusOut"></xs:enumeration>
			<xs:enumeration value="MouseDown"></xs:enumeration>
			<xs:enumeration value="MouseUp"></xs:enumeration>
			<xs:enumeration value="OnDragEnter"></xs:enumeration>
			<xs:enumeration value="OnDragLeave"></xs:enumeration>
			<xs:enumeration value="OnDrop"></xs:enumeration>
			<xs:enumeration value="VisibleChanged"></xs:enumeration>
			<xs:enumeration value="XValueChanged"></xs:enumeration>
			<xs:enumeration value="YValueChanged"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>