02_BASE_PROJECT/Temp/Objects/Config1/X20CP1382/.mappView/data/wwwRoot/BRVisu/widgets/brease/RadialGauge/meta/RadialGauge_Styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:sd="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:kt="http://www.br-automation.com/iat2015/keywordTypes/v1"
        elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.RadialGauge">
		<xs:complexContent>
			<xs:extension base="sd:stylesBase">
				<xs:attribute name="borderWidth" use="optional" type="kt:PixelVal"></xs:attribute>
				<xs:attribute name="borderColor" use="optional" type="kt:ColorCollection"></xs:attribute>
				<xs:attribute name="borderStyle" use="optional" type="kt:BorderStyle"></xs:attribute>
				<xs:attribute name="backColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shadow" use="optional" type="kt:Shadow"></xs:attribute>
				<xs:attribute name="margin" use="optional" type="kt:Margin"></xs:attribute>
				<xs:attribute name="backGroundGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="backGround" use="optional" type="kt:ImagePath"></xs:attribute>
				<xs:attribute name="backColorScaleArea1" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="backColorScaleArea2" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="backColorScaleArea3" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="backColorScaleArea4" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="backColorScaleArea5" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="pointerBackColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="pointerPathColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="pointerPathWidth" use="optional" type="kt:PixelVal"></xs:attribute>
				<xs:attribute name="textColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="fontSize" use="optional" type="kt:PixelVal"></xs:attribute>
				<xs:attribute name="fontName" use="optional" type="kt:FontName"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>