01_BASE_PROJECT/Temp/Simulation/Config1/X20CP1382/ADDONS/DATA/IAT_Data/wwwRoot/BRVisu/widgets/brease/Joystick/meta/Joystick.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:iat="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" elementFormDefault="qualified">
<xs:complexType name="widgets.brease.JoystickRestrict" abstract="true">
	<xs:complexContent>
		<xs:restriction base="iat:brease.core.BaseContentWidget">
			<xs:attribute name="tabIndex" use="optional" type="types:Integer" default="-1" />
			<xs:attribute name="height" use="optional" type="types:Size" default="250" />
			<xs:attribute name="width" use="optional" type="types:Size" default="250" />
		</xs:restriction>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="widgets.brease.Joystick">
	<xs:complexContent>
		<xs:extension base="iat:widgets.brease.JoystickRestrict">
			<xs:attribute name="decimalPlaces" use="optional" type="types:UInteger" default="2" />
			<xs:attribute name="image" use="optional" type="types:ImagePath" default="" />
			<xs:attribute name="thumbSize" use="optional" type="types:PixelVal" default="50px" />
			<xs:attribute name="trackSize" use="optional" type="types:PixelVal" default="7px" />
			<xs:attribute name="maxHeight" use="optional" type="types:Size" default="0" />
			<xs:attribute name="minHeight" use="optional" type="types:Size" default="0" />
			<xs:attribute name="maxWidth" use="optional" type="types:Size" default="0" />
			<xs:attribute name="minWidth" use="optional" type="types:Size" default="0" />
			<xs:attribute name="borderColor" use="optional" type="types:ColorCollection" default="#000000" />
			<xs:attribute name="borderWidth" use="optional" type="types:PixelValCollection" default="0px" />
			<xs:attribute name="borderStyle" use="optional" type="types:BorderStyle" default="none" />
			<xs:attribute name="margin" use="optional" type="types:Margin" default="0px" />
			<xs:attribute name="opacity" use="optional" type="types:Opacity" default="1" />
			<xs:attribute name="backColor" use="optional" type="types:Color" default="#EDEDED" />
			<xs:attribute name="backGroundGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="thumbColor" use="optional" type="types:Color" default="#FF8800" />
			<xs:attribute name="thumbGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="trackColor" use="optional" type="types:Color" default="transparent" />
			<xs:attribute name="trackGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="disabledBackColor" use="optional" type="types:Color" default="transparent" />
			<xs:attribute name="disabledBackGroundGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="disabledThumbColor" use="optional" type="types:Color" default="#F1F1F1" />
			<xs:attribute name="disabledThumbGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="disabledTrackColor" use="optional" type="types:Color" default="transparent" />
			<xs:attribute name="disabledTrackGradient" use="optional" type="types:Gradient" default="" />
			<xs:attribute name="showIndicator" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="backGround" use="optional" type="types:ImagePath" default="" />
			<xs:attribute name="indicatorColor" use="optional" type="types:Color" default="#333333" />
			<xs:attribute name="disabledIndicatorColor" use="optional" type="types:Color" default="#EAEAEA" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
</xs:schema>
