01_BASE_PROJECT/Temp/Simulation/Config1/X20CP1382/ADDONS/DATA/IAT_Data/wwwRoot/BRVisu/widgets/brease/Joystick/meta/Joystick_Styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:sd="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:kt="http://www.br-automation.com/iat2015/keywordTypes/v1"
        elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.Joystick">
		<xs:complexContent>
			<xs:extension base="sd:stylesBase">
				<xs:attribute name="borderColor" use="optional" type="kt:ColorCollection"></xs:attribute>
				<xs:attribute name="borderWidth" use="optional" type="kt:PixelValCollection"></xs:attribute>
				<xs:attribute name="borderStyle" use="optional" type="kt:BorderStyle"></xs:attribute>
				<xs:attribute name="margin" use="optional" type="kt:Margin"></xs:attribute>
				<xs:attribute name="opacity" use="optional" type="kt:Opacity"></xs:attribute>
				<xs:attribute name="backColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="backGroundGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="thumbColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="thumbGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="trackColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="trackGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="disabledBackColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="disabledBackGroundGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="disabledThumbColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="disabledThumbGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="disabledTrackColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="disabledTrackGradient" use="optional" type="kt:Gradient"></xs:attribute>
				<xs:attribute name="showIndicator" use="optional" type="kt:Boolean"></xs:attribute>
				<xs:attribute name="backGround" use="optional" type="kt:ImagePath"></xs:attribute>
				<xs:attribute name="indicatorColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="disabledIndicatorColor" use="optional" type="kt:Color"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>